@font-face {
    font-family: "Oxygen";
    src: local("Oxygen"), url(../../../../assets/fonts/get_schwifty.ttf) format("truetype");
}

.logo-rm {
    width: 15rem;
}

.nav-link {
    font-family: "Oxygen";
    font-size: 2rem;
    margin-left: 2.5rem;
}